{
  "openapi" : "3.0.3",
  "servers" : [ {
    "description" : "Live API Endpoint",
    "url" : "https://api.mailbaby.net"
  }, {
    "description" : "Temporary API Endpoint",
    "url" : "http://mystage.interserver.net:8787"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/InterServer/MyAPI/0.9.0"
  } ],
  "info" : {
    "description" : "The **MyAdmin API**  provides an easy-to-use standards-compliant way to handle *Ordering Services*, *Managing Payment Types*, as well any othe billing tasks you might want to do, and management of the services and the servers connected to the system.\n\nIntroduction\n  Welcome to the InterServer API! You can use this API to access the featurs you enjoy through our websites. We have code samples for all of the API calls in many languages and implementnig the API calls in varoius ways. At the time of this writing we have at least 1 script for each api call in PHP, Python, Perl, and Ruby.\n  You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.\n  Connecting To the API\n  Prerequisites and API URLs\n  \n      API Endpoint: https://my.interserver.net/api.php\n      WSDL File: https://my.interserver.net/api.php?wsdl\n  \n  To use the API you will need to first have an account with us.  You can sign up for an account at https://my.interserver.net/\n  \n      You will need the login name (email address) you used to sign up with InterServer and your password.\n      The SOAP server is accessible at https://my.interserver.net/api.php\n      The WSDL is available at https://my.interserver.net/api.php?wsdl\n  \n# 📌 Overview\n\nThis is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net).\n\n\n# 🔐 Authentication\n\nIn order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.  \n\nWe support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.\n",
    "version" : "0.9.0",
    "title" : "MyAdmin InterServer API",
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "contact" : {
      "email" : "support@interserver.net",
      "name" : "InterServer Staff",
      "url" : "https://www.interserver.net/contact-us.html"
    },
    "license" : {
      "name" : "Proprietary"
    }
  },
  "tags" : [ {
    "name" : "clients",
    "description" : "Commands available for client use"
  }, {
    "name" : "admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "billing",
    "description" : "Billing related items"
  }, {
    "name" : "backups",
    "description" : "Backup related services"
  }, {
    "name" : "domains",
    "description" : "Domain Registration related services"
  }, {
    "name" : "licenses",
    "description" : "Licensing related services"
  }, {
    "name" : "quickservers",
    "description" : "Rapid Deploy Servers related services"
  }, {
    "name" : "servers",
    "description" : "Dedicated Servers related services"
  }, {
    "name" : "ssl",
    "description" : "SSL Certificates related services"
  }, {
    "name" : "vps",
    "description" : "VPS related services"
  }, {
    "name" : "webhosting",
    "description" : "Webhosting related services"
  } ],
  "paths" : {
    "/invoices" : {
      "get" : {
        "summary" : "get a listing of invoices",
        "operationId" : "getInvoices",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer",
                        "example" : 1234
                      },
                      "status" : {
                        "type" : "string",
                        "example" : "active"
                      },
                      "username" : {
                        "type" : "string",
                        "example" : "mb1234"
                      },
                      "password" : {
                        "type" : "string",
                        "example" : "guest123"
                      },
                      "comment" : {
                        "type" : "string",
                        "example" : "main mail account"
                      }
                    },
                    "required" : [ "id", "status", "username" ]
                  }
                }
              }
            },
            "links" : {
              "sendMailByIdLink" : {
                "operationId" : "sendMail",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                },
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`."
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/Unauthorized"
          }
        },
        "tags" : [ "billing" ]
      }
    },
    "/mail" : {
      "get" : {
        "summary" : "displays a list of mail service orders",
        "operationId" : "getMailOrders",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer",
                        "example" : 1234
                      },
                      "status" : {
                        "type" : "string",
                        "example" : "active"
                      },
                      "username" : {
                        "type" : "string",
                        "example" : "mb1234"
                      },
                      "password" : {
                        "type" : "string",
                        "example" : "guest123"
                      },
                      "comment" : {
                        "type" : "string",
                        "example" : "main mail account"
                      }
                    },
                    "required" : [ "id", "status", "username" ]
                  }
                }
              }
            },
            "links" : {
              "sendMailByIdLink" : {
                "operationId" : "sendMail",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                },
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`."
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/mail/send" : {
      "post" : {
        "summary" : "Sends an Email",
        "operationId" : "sendMail",
        "description" : "Sends an email through one of your mail orders.\n\n*Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead.\n",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadInput"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mail/advsend" : {
      "post" : {
        "summary" : "Sends an Email with Advanced Options",
        "operationId" : "sendAdvMail",
        "description" : "Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadInput"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mail/log" : {
      "get" : {
        "summary" : "displays the mail log",
        "operationId" : "viewMailLog",
        "description" : "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "The ID of your mail order this will be sent through.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "in" : "query",
          "name" : "search",
          "description" : "pass an optional search string for looking up inventory",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "skip",
          "description" : "number of records to skip for pagination",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "in" : "query",
          "name" : "limit",
          "description" : "maximum number of records to return",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "minimum" : 1,
            "maximum" : 10000
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MailLog"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/ping" : {
      "get" : {
        "summary" : "Checks if the server is running",
        "operationId" : "pingServer",
        "security" : [ ],
        "responses" : {
          "200" : {
            "description" : "Server is up and running"
          },
          "default" : {
            "description" : "Something is wrong"
          }
        },
        "parameters" : [ ]
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "apiKeyAuth" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-API-KEY"
      }
    },
    "schemas" : {
      "GenericResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "example" : "ok"
          },
          "text" : {
            "type" : "string",
            "example" : "The command completed successfully."
          }
        }
      },
      "MailLog" : {
        "type" : "object",
        "description" : "Mail log records",
        "properties" : {
          "total" : {
            "type" : "integer",
            "example" : 10234,
            "description" : "total number of mail log entries"
          },
          "skip" : {
            "type" : "integer",
            "example" : 0,
            "description" : "number of emails skipped in listing"
          },
          "limit" : {
            "type" : "integer",
            "example" : 100,
            "description" : "number of emails to return"
          },
          "emails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MailLogEntry"
            }
          }
        },
        "required" : [ "total", "skip", "limit", "emails" ]
      },
      "MailLogEntry" : {
        "type" : "object",
        "description" : "An email record",
        "properties" : {
          "_id" : {
            "type" : "integer",
            "example" : 103172,
            "description" : "internal db id"
          },
          "id" : {
            "type" : "string",
            "example" : "17c7eda538e0005d03",
            "description" : "mail id"
          },
          "from" : {
            "type" : "string",
            "example" : "person@mysite.com",
            "description" : "from address"
          },
          "to" : {
            "type" : "string",
            "example" : "client@isp.com",
            "description" : "to address"
          },
          "subject" : {
            "type" : "string",
            "example" : "sell 0.005 shares",
            "description" : "email subject"
          },
          "messageId" : {
            "type" : "string",
            "example" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
            "description" : "message id"
          },
          "created" : {
            "type" : "string",
            "example" : "2021-10-14 08:50:10",
            "description" : "creation date"
          },
          "time" : {
            "type" : "integer",
            "example" : 1634215809,
            "description" : "creation timestamp"
          },
          "user" : {
            "type" : "string",
            "example" : "mb5658",
            "description" : "user account"
          },
          "transtype" : {
            "type" : "string",
            "example" : "ESMTPSA",
            "description" : "transaction type"
          },
          "transhost" : {
            "type" : "string",
            "example" : "relay0.mailbaby.net",
            "description" : "transaction host"
          },
          "originhost" : {
            "type" : "string",
            "example" : "199.231.189.154",
            "description" : "origin host"
          },
          "origin" : {
            "type" : "string",
            "example" : "199.231.189.154",
            "description" : "origin ip"
          },
          "interface" : {
            "type" : "string",
            "example" : "feeder",
            "description" : "interface name"
          },
          "date" : {
            "type" : "string",
            "example" : "Thu, 14 Oct 2021 08:50:09 -0400",
            "description" : "date processed"
          },
          "sendingZone" : {
            "type" : "string",
            "example" : "interserver",
            "description" : "sending zone"
          },
          "bodySize" : {
            "type" : "integer",
            "example" : 63,
            "description" : "email body size in bytes"
          },
          "sourceMd5" : {
            "type" : "string",
            "example" : "1d7058e6a30369f200b0c34fab2fac92",
            "description" : "md5 sum of the email"
          },
          "seq" : {
            "type" : "integer",
            "example" : 1,
            "description" : "delivery sequency"
          },
          "domain" : {
            "type" : "string",
            "example" : "interserver.net",
            "description" : "to address domain"
          },
          "recipient" : {
            "type" : "string",
            "example" : "client@isp.com",
            "description" : "email receiver address"
          },
          "locked" : {
            "type" : "integer",
            "example" : 1,
            "description" : "locked status"
          },
          "lockTime" : {
            "type" : "integer",
            "example" : 1634215818533,
            "description" : "lock timestamp"
          },
          "assigned" : {
            "type" : "string",
            "example" : "relay1",
            "description" : "assigned server"
          },
          "queued" : {
            "type" : "string",
            "example" : "2021-10-14T12:50:15.487Z",
            "description" : "queued timestamp"
          },
          "_lock" : {
            "type" : "string",
            "example" : "lock 17c7eda538e0005d03 001",
            "description" : "lock id"
          },
          "logger" : {
            "type" : "string",
            "example" : null,
            "description" : "logger"
          },
          "mxPort" : {
            "type" : "integer",
            "example" : 25,
            "description" : "mx port number"
          },
          "connectionKey" : {
            "type" : "string",
            "example" : "206.72.200.46:interserver.net:25",
            "description" : "connection key"
          },
          "mxHostname" : {
            "type" : "string",
            "example" : "mx.j.is.cc",
            "description" : "mx hostname"
          },
          "sentBodyHash" : {
            "type" : "string",
            "example" : "1d7058e6a30369f200b0c34fab2fac92",
            "description" : "body hash"
          },
          "sentBodySize" : {
            "type" : "integer",
            "example" : 63,
            "description" : "sent body size in bytes"
          },
          "md5Match" : {
            "type" : "integer",
            "example" : 1,
            "description" : "md5 checksum matching result"
          }
        },
        "required" : [ "_id", "id", "from", "to", "subject", "messageId", "created", "time", "user", "transtype", "transhost", "originhost", "origin", "interface", "date", "sendingZone", "bodySize", "sourceMd5", "seq", "domain", "recipient", "locked", "lockTime", "assigned", "queued", "_lock", "logger", "mxPort", "connectionKey", "mxHostname", "sentBodyHash", "sentBodySize", "md5Match" ]
      },
      "SendMail" : {
        "type" : "object",
        "description" : "Details for an Email",
        "properties" : {
          "to" : {
            "type" : "string",
            "description" : "The Contact whom is the primary recipient of this email.",
            "example" : "johndoe@company.com"
          },
          "from" : {
            "type" : "string",
            "description" : "The contact whom is the this email is from.",
            "example" : "janedoe@company.com"
          },
          "subject" : {
            "type" : "string",
            "description" : "The subject or title of the email",
            "example" : "Attention Client"
          },
          "body" : {
            "type" : "string",
            "description" : "The main email contents.",
            "example" : "This is an email to inform you that something noteworthy happened."
          }
        },
        "required" : [ "to", "from", "subject", "body" ]
      },
      "SendMailAdv" : {
        "title" : "Email details",
        "type" : "object",
        "properties" : {
          "subject" : {
            "type" : "string",
            "description" : "The subject or title of the email",
            "example" : "Your Package has been Delivered!"
          },
          "body" : {
            "type" : "string",
            "description" : "The main email contents.",
            "example" : "The package you ordered on 2021-01-23 has been delivered. If the package is broken into many pieces, please blaim someone else."
          },
          "from" : {
            "type" : "object",
            "description" : "The information to use for the From address in the email. from.",
            "properties" : {
              "email" : {
                "type" : "string",
                "example" : "business@company.com",
                "description" : "The email address"
              },
              "name" : {
                "type" : "string",
                "example" : "The Man",
                "description" : "(optional) Name to use for the sending contact."
              }
            },
            "required" : [ "email" ]
          },
          "to" : {
            "type" : "array",
            "description" : "A list of destionation email addresses to send this to",
            "items" : {
              "type" : "object",
              "description" : "An Email Contact",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "example" : "johndoe@isp.com",
                  "description" : "The email address"
                },
                "name" : {
                  "type" : "string",
                  "example" : "John Doe",
                  "description" : "(optional) Name to use for the destination contact."
                }
              },
              "required" : [ "email" ]
            }
          },
          "replyto" : {
            "type" : "array",
            "description" : "(optional) A list of email addresses that specify where replies to the email should be sent instead of the _from_ address.",
            "items" : {
              "type" : "object",
              "description" : "An Email Contact",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "example" : "support@company.com",
                  "description" : "The email address"
                },
                "name" : {
                  "type" : "string",
                  "example" : "Support Staff",
                  "description" : "(optional) Name to use for the sending contact."
                }
              },
              "required" : [ "email" ]
            }
          },
          "cc" : {
            "type" : "array",
            "description" : "(optional) A list of email addresses to carbon copy this message to.  They are listed on the email and anyone getting the email can see this full list of Contacts who received the email as well.",
            "items" : {
              "type" : "object",
              "description" : "An Email Contact",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "example" : "janedoe@isp.com",
                  "description" : "The email address"
                },
                "name" : {
                  "type" : "string",
                  "example" : "Jane Doe",
                  "description" : "(optional) Name to use for the CC contact."
                }
              },
              "required" : [ "email" ]
            }
          },
          "bcc" : {
            "type" : "array",
            "description" : "(optional) list of email addresses that should receive copies of the email.  They are hidden on the email and anyone gettitng the email would not see the other people getting the email in this list.",
            "items" : {
              "type" : "object",
              "description" : "An Email Contact",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "example" : "records@company.com",
                  "description" : "The email address"
                },
                "name" : {
                  "type" : "string",
                  "example" : "Records Department",
                  "description" : "(optional) Name to use for the BCC contact."
                }
              },
              "required" : [ "email" ]
            }
          },
          "attachments" : {
            "type" : "array",
            "description" : "(optional) File attachments to include in the email.  The file contents must be base64 encoded!",
            "items" : {
              "type" : "object",
              "description" : "A File attachment for an email",
              "properties" : {
                "filename" : {
                  "type" : "string",
                  "example" : "company_logo.png",
                  "description" : "(optional) Filename to specify for the attachment."
                },
                "data" : {
                  "type" : "string",
                  "format" : "binary",
                  "description" : "Contents of the attached file (must be base64 encoded)"
                }
              },
              "required" : [ "data" ]
            }
          },
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "description" : "(optional)  ID of the Mail order within our system to use as the Mail Account.",
            "example" : 5000
          }
        },
        "description" : "Details for an Email",
        "required" : [ "from", "to", "subject", "body" ]
      },
      "Invoices" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Listing of invoices"
      }
    },
    "requestBodies" : { },
    "responses" : {
      "BadInput" : {
        "description" : "The specified resource was not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "message" : {
                  "type" : "string"
                }
              },
              "required" : [ "code", "message" ]
            }
          }
        }
      },
      "AlreadyExists" : {
        "description" : "The specified resource was not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "message" : {
                  "type" : "string"
                }
              },
              "required" : [ "code", "message" ]
            }
          }
        }
      },
      "NotFound" : {
        "description" : "The specified resource was not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "message" : {
                  "type" : "string"
                }
              },
              "required" : [ "code", "message" ]
            }
          }
        }
      },
      "Unauthorized" : {
        "description" : "Unauthorized",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "message" : {
                  "type" : "string"
                }
              },
              "required" : [ "code", "message" ]
            }
          }
        }
      }
    },
    "headers" : { },
    "examples" : { },
    "links" : { },
    "callbacks" : { },
    "parameters" : {
      "offsetParam" : {
        "name" : "offset",
        "in" : "query",
        "description" : "Number of items to skip before returning the results.",
        "required" : false,
        "schema" : {
          "type" : "integer",
          "format" : "int32",
          "minimum" : 0,
          "default" : 0
        }
      },
      "limitParam" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Maximum number of items to return.",
        "required" : false,
        "schema" : {
          "type" : "integer",
          "format" : "int32",
          "minimum" : 1,
          "maximum" : 100,
          "default" : 20
        }
      }
    }
  },
  "security" : [ {
    "apiKeyAuth" : [ ]
  } ],
  "externalDocs" : {
    "description" : "Tips",
    "url" : "https://www.interserver.net/tips/"
  }
}