{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "my InterServer Services Management API",
    "version" : "0.9.0",
    "description" : "**Introducing the InterServers myadmin Host Management API – Your Gateway to Seamless Service Management**\n\n# Overview\n\nInterServers is thrilled to present the myadmin Host Management API, a cutting-edge solution designed to simplify and streamline the management of our comprehensive range of services. Whether you're in need of [dedicated server hosting](), [web hosting](), [VPS hosting](), [backups](), [domain registrations](), [Mail Delivery services](), or our innovative hybrid VPS-bare metal product [Rapid Deploy Servers](), our API offers a user-friendly and efficient approach to managing your services.\n\nWith the myadmin Host Management API, you can now harness the power of modern [REST]() and [WebSocket]() interfaces to effortlessly maintain and control your InterServers services. Say goodbye to complex and time-consuming manual configurations – our API empowers you to execute a wide range of operations with simple, easy-to-use calls, ensuring that service management becomes a hassle-free experience.\n\nOne of the standout features of the myadmin Host Management API is its extensive language support. We have [code samples]() available in every modern programming language, allowing developers to quickly integrate our API into their existing systems. Whether you prefer [Python](), [JavaScript](), [Ruby](), [PHP](), or any other language, we have you covered. Our goal is to ensure that you can seamlessly integrate and automate your InterServers services, regardless of your preferred programming language.\n\nTo further enhance the user xperience, we offer interactive [documentation]() that makes it a breeze to navigate and understand the myadmin Host Management API. Our comprehensive documentation provides detailed explanations, along with interactive code examples, giving you a hands-on approach to learning and implementing the API's functionalities. Whether you're a seasoned developer or just starting your journey, our user-friendly documentation will be your go-to resource for all your service management needs.\n\nThe myadmin Host Management API from InterServers revolutionizes the way you manage your dedicated server hosting, web hosting, VPS hosting, backups, domain registrations, Mail Delivery services, and Rapid Deploy Servers. It empowers you with a straightforward, intuitive interface, enabling you to perform complex tasks effortlessly. Take full control of your services with ease, thanks to our modern REST and WebSocket interfaces, and unlock a new level of efficiency and productivity.\n\nExperience the power of the myadmin Host Management API today and enjoy seamless service management at your fingertips. Trust InterServers to deliver unparalleled convenience and reliability as we continue to pave the way for the future of hosting and datacenter solutions.\n\n# Authentication\n\nIn order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.  \n\nWe support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.\n",
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "contact" : {
      "name" : "InterServer Support Staff",
      "url" : "https://www.interserver.net/contact-us.html",
      "email" : "support@interserver.net"
    },
    "license" : {
      "name" : "Proprietary"
    }
  },
  "servers" : [ {
    "url" : "https://mystage.interserver.net",
    "description" : "Development API Endpoint"
  }, {
    "url" : "https://my.interserver.net",
    "description" : "Live API Endpoint"
  }, {
    "url" : "https://virtserver.swaggerhub.com/InterServer/MyAPI/0.9.0",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "paths" : {
    "/ping" : {
      "get" : {
        "tags" : [ "public", "status" ],
        "responses" : {
          "200" : {
            "description" : "Server is up and running"
          },
          "default" : {
            "description" : "Something is wrong"
          }
        },
        "security" : [ { } ],
        "operationId" : "pingServer",
        "summary" : "Checks if the server is running",
        "description" : "Performs a single ping/pong request to let you know if the server is up."
      }
    },
    "/login" : {
      "summary" : "Log In to the system and create a session.",
      "description" : "Submit your login credentials to generate a session id which can be used for validating requests.",
      "get" : {
        "tags" : [ "public" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginInfo"
                },
                "examples" : {
                  "LoginInfoExample" : {
                    "value" : {
                      "logo" : "//mystage.interserver.net/images/logos/mystaging.png",
                      "captcha" : "data:image/jpeg;base64,/9j/",
                      "language" : "en-US",
                      "counts" : {
                        "vps" : 290201,
                        "websites" : 205172,
                        "servers" : 27940
                      }
                    }
                  }
                }
              }
            },
            "description" : "Various pieces of information useful for rendering a login page."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "security" : [ { } ],
        "operationId" : "getLoginInfo",
        "summary" : "Get Login Info",
        "description" : "Gets the various pieces of information useful for generating a login page."
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginSubmissionExample"
              },
              "examples" : {
                "LoginSubmissionExampleExample" : {
                  "value" : {
                    "login" : "user@domain.com",
                    "passwd" : "mypassword",
                    "remember" : "true",
                    "g-recaptcha-response" : {
                      "__v_isShallow" : false,
                      "dep" : {
                        "w" : 0,
                        "n" : 0
                      },
                      "__v_isRef" : true,
                      "_rawValue" : "zzzzz",
                      "_value" : "zzzzz"
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "public" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "security" : [ { } ],
        "operationId" : "submitLogin",
        "summary" : "Submit Login Information",
        "description" : "Tries to authenticate without system using the provided login credentials."
      }
    },
    "/signup" : {
      "post" : {
        "tags" : [ "public" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "security" : [ { } ],
        "operationId" : "submitSignup",
        "summary" : "Submit Signup Information",
        "description" : "Creates a new account in our system using the provided information."
      }
    },
    "/captcha" : {
      "get" : {
        "tags" : [ "public" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "security" : [ { } ],
        "operationId" : "getCaptcha",
        "summary" : "",
        "description" : "Retrieves the information so you can render a captcha check"
      }
    },
    "/home" : {
      "get" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getHome",
        "summary" : "",
        "description" : "Retrieves a general assortment of information useful for displaying a home page / dashboard overview."
      }
    },
    "/account" : {
      "summary" : "User Account Information and Management.",
      "description" : "Manage your various user details like contact information, account security, and related features.",
      "get" : {
        "tags" : [ "account" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountInfo"
                },
                "examples" : {
                  "AccountResponse" : {
                    "value" : {
                      "custid" : "98651",
                      "ima" : "client",
                      "data" : {
                        "group" : "0",
                        "address" : "112 Uber St.",
                        "city" : "Townsville",
                        "country" : "US",
                        "disable_cc" : "0",
                        "fraudrecord_score" : "0",
                        "ima" : "client",
                        "name" : "John Doe",
                        "payment_method" : "paypal",
                        "phone" : "8675309",
                        "pin" : "000000",
                        "state" : "PA",
                        "status" : "active",
                        "zip" : "11111",
                        "account_id" : "98651",
                        "account_lid" : "user@domain.com",
                        "address2" : "",
                        "affiliate_dock_description" : "Use this coupon when placing an order to get the first month of hosting for only 1 penny.",
                        "affiliate_dock_title" : "Exclusive offer to viewers",
                        "affiliate_payment_method" : "paypal",
                        "affiliate_paypal" : "user@domain.com",
                        "cc" : "************1111",
                        "cc_auto" : "0",
                        "cc_exp" : "05/2019",
                        "cc_type" : "visa",
                        "cc_whitelist" : "1",
                        "ccs" : {
                          "1" : {
                            "cc" : "************1111",
                            "cc_exp" : "05/2019",
                            "name" : "John Doe",
                            "country" : "US",
                            "verified" : true
                          },
                          "5" : {
                            "cc" : "************2222",
                            "cc_exp" : "05/2019",
                            "name" : "John Doe",
                            "address" : "123 Uber St",
                            "city" : "Townsville",
                            "state" : "PA",
                            "zip" : "11122",
                            "country" : "US",
                            "maxmind_riskscore" : "0.25",
                            "maxmind" : {
                              "distance" : "0",
                              "countryMatch" : "Yes",
                              "countryCode" : "US",
                              "freeMail" : "No",
                              "anonymousProxy" : "No",
                              "binMatch" : "No",
                              "binCountry" : "IN",
                              "err" : "",
                              "proxyScore" : "0.00",
                              "ip_region" : "PA",
                              "ip_city" : "Townsville",
                              "ip_latitude" : "40.175",
                              "ip_longitude" : "-76.1817",
                              "binName" : "state bank of india",
                              "ip_isp" : "PenTeleData",
                              "ip_org" : "PenTeleData",
                              "binNameMatch" : "NA",
                              "binPhoneMatch" : "NA",
                              "binPhone" : "",
                              "custPhoneInBillingLoc" : "NotFound",
                              "highRiskCountry" : "No",
                              "queriesRemaining" : "2764",
                              "cityPostalMatch" : "Yes",
                              "shipCityPostalMatch" : "",
                              "maxmindID" : "7IVXKOVV",
                              "ip_asnum" : "AS3737 AS-PTD",
                              "ip_userType" : "residential",
                              "ip_countryConf" : "99",
                              "ip_regionConf" : "99",
                              "ip_cityConf" : "30",
                              "ip_postalCode" : "11122",
                              "ip_postalConf" : "30",
                              "ip_accuracyRadius" : "20",
                              "ip_netSpeedCell" : "Cable/DSL",
                              "ip_metroCode" : "566",
                              "ip_areaCode" : "",
                              "ip_timeZone" : "America/New_York",
                              "ip_regionName" : "Pennsylvania",
                              "ip_domain" : "ptd.net",
                              "ip_countryName" : "United States",
                              "ip_continentCode" : "NA",
                              "ip_corporateProxy" : "No",
                              "isTransProxy" : "No",
                              "carderEmail" : "No",
                              "highRiskUsername" : "No",
                              "highRiskPassword" : "No",
                              "riskScore" : 0.25,
                              "prepaid" : "No",
                              "minfraud_version" : "1.3",
                              "service_level" : "premium",
                              "female_name" : "no"
                            },
                            "verified" : true
                          },
                          "6" : {
                            "cc" : "************1111",
                            "cc_exp" : "05/2021",
                            "name" : "John Doe",
                            "city" : "Townsville",
                            "state" : "PA",
                            "zip" : "11122",
                            "country" : "US",
                            "maxmind_riskscore" : "0.48",
                            "maxmind" : {
                              "distance" : "0",
                              "countryMatch" : "Yes",
                              "countryCode" : "US",
                              "freeMail" : "No",
                              "anonymousProxy" : "No",
                              "binMatch" : "Yes",
                              "binCountry" : "US",
                              "err" : "",
                              "proxyScore" : "0.00",
                              "ip_region" : "PA",
                              "ip_city" : "Townsville",
                              "ip_latitude" : "40.175",
                              "ip_longitude" : "-76.1817",
                              "binName" : "Bank of No Hope",
                              "ip_isp" : "PenTeleData",
                              "ip_org" : "PenTeleData",
                              "binNameMatch" : "NA",
                              "binPhoneMatch" : "NA",
                              "binPhone" : "1234561234",
                              "custPhoneInBillingLoc" : "NotFound",
                              "highRiskCountry" : "No",
                              "queriesRemaining" : "2765",
                              "cityPostalMatch" : "Yes",
                              "shipCityPostalMatch" : "",
                              "maxmindID" : "AAAAAZZZZZ",
                              "ip_asnum" : "AS3737 AS-PTD",
                              "ip_userType" : "residential",
                              "ip_countryConf" : "99",
                              "ip_regionConf" : "99",
                              "ip_cityConf" : "30",
                              "ip_postalCode" : "11122",
                              "ip_postalConf" : "30",
                              "ip_accuracyRadius" : "20",
                              "ip_netSpeedCell" : "Cable/DSL",
                              "ip_metroCode" : "566",
                              "ip_areaCode" : "",
                              "ip_timeZone" : "America/New_York",
                              "ip_regionName" : "Pennsylvania",
                              "ip_domain" : "ptd.net",
                              "ip_countryName" : "United States",
                              "ip_continentCode" : "NA",
                              "ip_corporateProxy" : "No",
                              "isTransProxy" : "No",
                              "carderEmail" : "No",
                              "highRiskUsername" : "No",
                              "highRiskPassword" : "No",
                              "riskScore" : 0.48,
                              "prepaid" : "No",
                              "minfraud_version" : "1.3",
                              "service_level" : "premium",
                              "female_name" : "no"
                            },
                            "verified" : true
                          }
                        },
                        "ccs_added" : "14",
                        "company" : "InterServer, Inc.",
                        "currency" : "USD",
                        "disable_reinstall" : "0",
                        "disable_reset" : "0",
                        "email" : "user@domain.com",
                        "email_abuse" : "",
                        "email_settings" : {
                          "admin/cc_bad_response" : "1",
                          "admin/mass_communications.tpl" : "1"
                        },
                        "extra" : {
                          "private_whois" : "0"
                        },
                        "facebook_id" : "111111111111111",
                        "facebook_url" : "https://www.facebook.com/111111111111111",
                        "firstname" : "John",
                        "fraudrecord" : {
                          "score" : "0",
                          "count" : "0",
                          "reliability" : "0.0",
                          "code" : "zxcvzxcvzxcv"
                        },
                        "github_id" : "2222222",
                        "github_url" : "https://github.com/user",
                        "google_id" : "355431342512341234",
                        "google_url" : "https://plus.google.com/+JohnDoe",
                        "innertell_id" : "2222222",
                        "lastname" : "Doe",
                        "locale" : "auto",
                        "maxmind" : {
                          "distance" : "6146",
                          "countryMatch" : "No",
                          "countryCode" : "US",
                          "freeMail" : "No",
                          "anonymousProxy" : "No",
                          "score" : "5.00",
                          "binMatch" : "NotFound",
                          "binCountry" : "",
                          "err" : "CITY_NOT_FOUND",
                          "proxyScore" : "0.00",
                          "ip_region" : "PA",
                          "ip_city" : "Townsville",
                          "ip_latitude" : "40.1767",
                          "ip_longitude" : "-76.4297",
                          "binName" : "",
                          "ip_isp" : "PenTeleData",
                          "ip_org" : "PenTeleData",
                          "binNameMatch" : "NA",
                          "binPhoneMatch" : "NA",
                          "binPhone" : "",
                          "custPhoneInBillingLoc" : "",
                          "highRiskCountry" : "No",
                          "queriesRemaining" : "171",
                          "cityPostalMatch" : "",
                          "shipCityPostalMatch" : "",
                          "maxmindID" : "HMOCUJP7",
                          "ip_asnum" : "AS3737 PenTeleData Inc.",
                          "ip_userType" : "residential",
                          "ip_countryConf" : "99",
                          "ip_regionConf" : "97",
                          "ip_cityConf" : "30",
                          "ip_postalCode" : "11122",
                          "ip_postalConf" : "30",
                          "ip_accuracyRadius" : "10",
                          "ip_netSpeedCell" : "Dialup",
                          "ip_metroCode" : "566",
                          "ip_areaCode" : "333",
                          "ip_timeZone" : "America/New_York",
                          "ip_regionName" : "Pennsylvania",
                          "ip_domain" : "ptd.net",
                          "ip_countryName" : "United States",
                          "ip_continentCode" : "NA",
                          "ip_corporateProxy" : "No",
                          "carderEmail" : "No",
                          "highRiskUsername" : "No",
                          "riskScore" : "4.82",
                          "explanation" : "You should review this order carefully, as it is considered high risk. We suggest you be very cautious about accepting this order. This order is higher risk because the distance between the billing address and the user's actual location is so great. The order is higher risk because the billing country and the country in which the IP address is located don't match",
                          "female_name" : "no"
                        },
                        "maxmind_score" : "0",
                        "mb_id" : "4769",
                        "modernbill_id" : "1234",
                        "picture" : "https://avatars3.githubusercontent.com/u/1364504",
                        "referrer_coupon" : "detainaffiliatecoupon",
                        "reseller_markup" : "10",
                        "username" : "user@domain.com",
                        "ssh_key" : "zzzz",
                        "ssh_key_wrapped" : "zzzz",
                        "api_key" : "aaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbccccccccccccccccccc",
                        "api_key_wrapped" : "aaaaaaaaaaaaaaaaaaaaaaa<br>bbbbbbbbbbbbb<br>ccccccccccccccccccc",
                        "2fa_google_key" : "ssssssssssssssssssssssssss",
                        "2fa_google_enabled" : true,
                        "2fa_google" : 1,
                        "2fa_google_split" : "zzzz zzzz zzzz zzzz ",
                        "2fa_google_qr" : "data:image/png;base64,zzz"
                      },
                      "ip" : "1.2.3.4",
                      "oauthproviders" : { },
                      "oauthconfig" : {
                        "callback" : "https://my.interserver.net/oauth/callback.php",
                        "providers" : {
                          "Twitter" : {
                            "enabled" : false,
                            "linked" : false
                          },
                          "Facebook" : {
                            "enabled" : true,
                            "account" : "111111111111111111111",
                            "url" : "https://www.facebook.com/111111111111111111111",
                            "linked" : true
                          },
                          "Google" : {
                            "enabled" : true,
                            "account" : "111111111111111111111",
                            "url" : "https://plus.google.com/+UserName",
                            "linked" : true
                          },
                          "GitHub" : {
                            "enabled" : true,
                            "account" : "111111111111111111111",
                            "url" : "https://github.com/detain",
                            "linked" : true
                          }
                        }
                      },
                      "oauthadapters" : [ ],
                      "limits" : [ {
                        "start" : "1.1.1.1",
                        "end" : "1.1.1.254"
                      }, {
                        "start" : "2600:387:0:809::1b",
                        "end" : "2600:387:0:809::1b"
                      } ],
                      "language" : "en-US",
                      "countryCurrencies" : {
                        "CN" : [ "USD" ],
                        "BR" : [ "USD", "BRL" ],
                        "RU" : [ "USD" ]
                      },
                      "enableLocales" : true,
                      "enableCurrencies" : false,
                      "gravatar" : "https://avatars3.githubusercontent.com/u/1364504"
                    }
                  }
                }
              }
            },
            "description" : "Your account information."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getAccountInfo",
        "summary" : "Get the account information.",
        "description" : "Retrieves your account information including contact information and billing setup."
      },
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountInfo",
        "summary" : "",
        "description" : "Updates the stored contact and billing information we have in our system with the provided data."
      }
    },
    "/account/2fa" : {
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountTfa",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/apikey" : {
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountApiKey",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/creditcards" : {
      "post" : {
        "tags" : [ "account", "billing" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addAccountCreditCard",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/creditcards/{id}" : {
      "post" : {
        "tags" : [ "account", "billing" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountCreditCard",
        "summary" : "",
        "description" : ""
      },
      "delete" : {
        "tags" : [ "account", "billing" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "deleteAccountCreditCard",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/features" : {
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountFeatures",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/iplimits" : {
      "post" : {
        "requestBody" : {
          "description" : "The lower and upper bounds of an ip range.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              },
              "examples" : {
                "IpLimitRangeJsonExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              },
              "examples" : {
                "IpLimitRangeFormExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountIpLimits",
        "summary" : "Add an IP range into the IP Limiting IP ranges.",
        "description" : ""
      },
      "patch" : {
        "requestBody" : {
          "content" : {
            "application/json" : { }
          }
        },
        "tags" : [ "account" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "IP Range removed."
          }
        },
        "operationId" : "deleteIpLimit",
        "summary" : "Delete an IP Limit Range",
        "description" : "This will remove an IP range from the ranges of IPs for limiting your account to specific IPs."
      }
    },
    "/account/oauth" : {
      "delete" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "deleteAccountOauth",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/oauth/logout" : {
      "get" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "logoutAccountOauth",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/password" : {
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountPassword",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/settings" : {
      "get" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getAccountSettings",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountSettings",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/sshkey" : {
      "post" : {
        "tags" : [ "account" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateAccountSshKey",
        "summary" : "",
        "description" : ""
      }
    },
    "/billing/cart" : {
      "get" : {
        "tags" : [ "account", "billing" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getBillingCart",
        "summary" : "",
        "description" : ""
      }
    },
    "/billing/prepays" : {
      "get" : {
        "tags" : [ "billing" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getBillingPrePays",
        "summary" : "",
        "description" : ""
      }
    },
    "/dns" : {
      "get" : {
        "tags" : [ "dns" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DnsListItem"
                  }
                },
                "examples" : {
                  "DnsListExample" : {
                    "value" : [ {
                      "id" : "68",
                      "name" : "hussfamily.com",
                      "content" : "64.20.35.186"
                    }, {
                      "id" : "1658",
                      "name" : "detain.interserver.net",
                      "content" : "66.45.228.74"
                    }, {
                      "id" : "1659",
                      "name" : "creation.interserver.net",
                      "content" : "66.23.239.99"
                    } ]
                  }
                }
              }
            },
            "description" : "Listing of Dns Domains setup"
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getDnsList",
        "summary" : "List of Domains on DNS Server",
        "description" : "Gets a list of the domains currently configured on the DNS servers"
      },
      "post" : {
        "tags" : [ "dns" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addDnsDomain",
        "summary" : "",
        "description" : ""
      }
    },
    "/dns/{id}" : {
      "get" : {
        "tags" : [ "dns" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DnsRecord"
                  }
                },
                "examples" : {
                  "DnsRecordExample" : {
                    "value" : [ {
                      "id" : "473",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "NS",
                      "content" : "cdns1.interserver.net",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    }, {
                      "id" : "474",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "NS",
                      "content" : "cdns2.interserver.net",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    }, {
                      "id" : "475",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "A",
                      "content" : "64.20.35.186",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    } ]
                  }
                }
              }
            },
            "description" : "The dns records for a given domain."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getDnsDomain",
        "summary" : "Gets the DNS Records for a domain.",
        "description" : "Return sa list of all of tHe dns recores."
      },
      "delete" : {
        "tags" : [ "dns" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "deleteDnsDomain",
        "summary" : "",
        "description" : ""
      }
    },
    "/tickets" : {
      "get" : {
        "tags" : [ "tickets" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getTicketsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/tickets/new" : {
      "get" : {
        "tags" : [ "tickets" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewTicket",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "tickets" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addNewTicket",
        "summary" : "",
        "description" : ""
      }
    },
    "/tickets/{id}" : {
      "get" : {
        "tags" : [ "tickets" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getTicketInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "tickets" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateTicketInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/backups" : {
      "get" : {
        "tags" : [ "backups" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BackupRow"
                  }
                }
              }
            },
            "description" : "The listing of `Backups` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getBackupsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/backups/order" : {
      "get" : {
        "tags" : [ "backups" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewBackup",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "backups" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addBackup",
        "summary" : "",
        "description" : ""
      }
    },
    "/backups/{id}" : {
      "get" : {
        "tags" : [ "backups" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getBackupInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "backups" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateBackupInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/domains" : {
      "get" : {
        "tags" : [ "domains" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DomainRow"
                  }
                },
                "examples" : {
                  "DomainsExample" : {
                    "value" : [ {
                      "domain_id" : "418295",
                      "domain_hostname" : "unixsrv10.com",
                      "domain_expire_date" : "",
                      "cost" : "11.00",
                      "domain_status" : "canceled"
                    }, {
                      "domain_id" : "592337",
                      "domain_hostname" : "detain.dev",
                      "domain_expire_date" : "2023-08-14 00:59:38",
                      "cost" : "18.00",
                      "domain_status" : "active"
                    } ]
                  }
                }
              }
            },
            "description" : "The listing of `Domains` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getDomainsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/domains/order" : {
      "get" : {
        "tags" : [ "domains" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewDomain",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "domains" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addDomain",
        "summary" : "",
        "description" : ""
      }
    },
    "/domains/{id}" : {
      "get" : {
        "tags" : [ "domains" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getDomainInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "domains" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateDomainInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/floating_ip" : {
      "get" : {
        "tags" : [ "floating_ips" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "The listing of `Floating IPs` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getFloatingIpsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/floating_ips/order" : {
      "get" : {
        "tags" : [ "floating_ips" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewFloatingIp",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "floating_ips" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addFloatingIp",
        "summary" : "",
        "description" : ""
      }
    },
    "/floating_ips/{id}" : {
      "get" : {
        "tags" : [ "floating_ips" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getFloatingIpInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "floating_ips" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateFloatingIpInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/licenses" : {
      "get" : {
        "tags" : [ "licenses" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LicenseRow"
                  }
                }
              }
            },
            "description" : "The listing of `Licenses` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getLicenseList",
        "summary" : "",
        "description" : ""
      }
    },
    "/licenses/order" : {
      "get" : {
        "tags" : [ "licenses" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewLicense",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "licenses" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addLicense",
        "summary" : "",
        "description" : ""
      }
    },
    "/licenses/{id}" : {
      "get" : {
        "tags" : [ "licenses" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getLicenseInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "licenses" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateLicenseInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/mail" : {
      "get" : {
        "tags" : [ "mail" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MailRow"
                  }
                }
              }
            },
            "description" : "The listing of `Mail` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getMailList",
        "summary" : "",
        "description" : ""
      }
    },
    "/mail/order" : {
      "get" : {
        "tags" : [ "mail" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewMail",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "mail" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addMail",
        "summary" : "",
        "description" : ""
      }
    },
    "/mail/{id}" : {
      "get" : {
        "tags" : [ "mail" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getMailInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "mail" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateMailInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/qs" : {
      "get" : {
        "tags" : [ "quickservers" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/QuickserverRow"
                  }
                }
              }
            },
            "description" : "The listing of `Quickservers` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getQsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/qs/order" : {
      "get" : {
        "tags" : [ "quickservers" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewQs",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "quickservers" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addQs",
        "summary" : "",
        "description" : ""
      }
    },
    "/qs/{id}" : {
      "get" : {
        "tags" : [ "quickservers" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getQsInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "quickservers" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateQsInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/servers" : {
      "get" : {
        "tags" : [ "servers" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServerRow"
                  }
                }
              }
            },
            "description" : "The listing of `Servers` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getServerList",
        "summary" : "",
        "description" : ""
      }
    },
    "/servers/order" : {
      "get" : {
        "tags" : [ "servers" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewServer",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "servers" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addServer",
        "summary" : "",
        "description" : ""
      }
    },
    "/servers/{id}" : {
      "get" : {
        "tags" : [ "servers" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getServerInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "servers" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateServerInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/ssl" : {
      "get" : {
        "tags" : [ "ssl" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : { }
                }
              }
            },
            "description" : "The listing of `SSL` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getSslList",
        "summary" : "",
        "description" : ""
      }
    },
    "/ssl/order" : {
      "get" : {
        "tags" : [ "ssl" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewSsl",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "ssl" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addSsl",
        "summary" : "",
        "description" : ""
      }
    },
    "/ssl/{id}" : {
      "get" : {
        "tags" : [ "ssl" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getSslInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "ssl" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateSslInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps" : {
      "get" : {
        "tags" : [ "vps" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VpsRow"
                  }
                }
              }
            },
            "description" : "The listing of `Vps` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getVpsList",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps/order" : {
      "get" : {
        "tags" : [ "vps" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewVps",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "vps" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addVps",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps/{id}" : {
      "get" : {
        "tags" : [ "vps" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getVpsInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "vps" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateVpsInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps/{id}/restart" : {
      "get" : {
        "tags" : [ "vps" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "doVpsRestart",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps/{id}/start" : {
      "get" : {
        "tags" : [ "vps" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "doVpsStart",
        "summary" : "",
        "description" : ""
      }
    },
    "/vps/{id}/stop" : {
      "get" : {
        "tags" : [ "vps" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "doVpsStop",
        "summary" : "",
        "description" : ""
      }
    },
    "/websites" : {
      "get" : {
        "tags" : [ "webhosting" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WebsiteRow"
                  }
                }
              },
              "multipart/form-data" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WebsiteRow"
                  }
                }
              }
            },
            "description" : "The listing of `Websites` services on your account."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getWebsiteList",
        "summary" : "Get Website Listing",
        "description" : "Gets a listing of your webhosting orders and service details."
      }
    },
    "/websites/order" : {
      "get" : {
        "tags" : [ "webhosting" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getNewWebsite",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "webhosting" ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "addWebsite",
        "summary" : "",
        "description" : ""
      }
    },
    "/websites/{id}" : {
      "get" : {
        "tags" : [ "webhosting" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "getWebsiteInfo",
        "summary" : "",
        "description" : ""
      },
      "post" : {
        "tags" : [ "webhosting" ],
        "parameters" : [ {
          "name" : "id",
          "description" : "The order ID number.",
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateWebsiteInfo",
        "summary" : "",
        "description" : ""
      }
    },
    "/invoices" : {
      "get" : {
        "tags" : [ "billing" ],
        "parameters" : [ {
          "name" : "searchString",
          "description" : "pass an optional search string for looking up inventory",
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "required" : false
        }, {
          "name" : "skip",
          "description" : "number of records to skip for pagination",
          "schema" : {
            "format" : "int32",
            "minimum" : 0,
            "type" : "integer"
          },
          "in" : "query"
        }, {
          "name" : "limit",
          "description" : "maximum number of records to return",
          "schema" : {
            "format" : "int32",
            "maximum" : 50,
            "minimum" : 0,
            "type" : "integer"
          },
          "in" : "query"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/Unauthorized"
          }
        },
        "operationId" : "getInvoices",
        "summary" : "Get User Invoices",
        "description" : "The \"Get User Invoices\" API endpoint allows users to retrieve a list of their invoices. By making a GET request to this endpoint, users can access their individual invoice information, including details such as invoice number, date, amount, and paid status. "
      }
    },
    "/info" : {
      "get" : {
        "tags" : [ "public" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServicesInfo"
                },
                "examples" : {
                  "InfoExample" : {
                    "value" : {
                      "modules" : {
                        "domains" : {
                          "SERVICE_ID_OFFSET" : 10000,
                          "USE_REPEAT_INVOICE" : true,
                          "USE_PACKAGES" : true,
                          "BILLING_DAYS_OFFSET" : 45,
                          "IMGNAME" : "domain.png",
                          "REPEAT_BILLING_METHOD" : 2,
                          "DELETE_PENDING_DAYS" : 45,
                          "SUSPEND_DAYS" : 14,
                          "SUSPEND_WARNING_DAYS" : 7,
                          "TITLE" : "Domain Registrations",
                          "MENUNAME" : "Domains",
                          "EMAIL_FROM" : "support@interserver.net",
                          "TBLNAME" : "Domains",
                          "TABLE" : "domains",
                          "TITLE_FIELD" : "domain_hostname",
                          "PREFIX" : "domain"
                        },
                        "vps" : {
                          "SERVICE_ID_OFFSET" : 0,
                          "USE_REPEAT_INVOICE" : true,
                          "USE_PACKAGES" : true,
                          "BILLING_DAYS_OFFSET" : 0,
                          "IMGNAME" : "root-server.png",
                          "REPEAT_BILLING_METHOD" : 2,
                          "DELETE_PENDING_DAYS" : 45,
                          "SUSPEND_DAYS" : 14,
                          "SUSPEND_WARNING_DAYS" : 7,
                          "TITLE" : "VPS",
                          "MENUNAME" : "VPS",
                          "EMAIL_FROM" : "support@interserver.net",
                          "TBLNAME" : "VPS",
                          "TABLE" : "vps",
                          "TITLE_FIELD" : "vps_hostname",
                          "TITLE_FIELD2" : "vps_ip",
                          "TITLE_FIELD3" : "vps_vzid",
                          "PREFIX" : "vps"
                        }
                      },
                      "services" : {
                        "31" : {
                          "services_id" : 31,
                          "services_name" : "OpenVZ VPS Slice",
                          "services_cost" : 6,
                          "services_currency" : "USD",
                          "services_category" : 1,
                          "services_buyable" : true,
                          "services_type" : 6,
                          "services_field1" : "slice",
                          "services_field2" : "",
                          "services_module" : "vps"
                        },
                        "32" : {
                          "services_id" : 32,
                          "services_name" : "KVM Windows VPS Slice",
                          "services_cost" : 10,
                          "services_currency" : "USD",
                          "services_category" : 2,
                          "services_buyable" : true,
                          "services_type" : 1,
                          "services_field1" : "slice",
                          "services_field2" : "",
                          "services_module" : "vps"
                        }
                      },
                      "serviceTypes" : {
                        "1" : {
                          "st_id" : 1,
                          "st_name" : "KVM Windows",
                          "st_category" : 2,
                          "st_module" : "vps"
                        },
                        "2" : {
                          "st_id" : 2,
                          "st_name" : "KVM Linux",
                          "st_category" : 2,
                          "st_module" : "vps"
                        },
                        "3" : {
                          "st_id" : 3,
                          "st_name" : "Cloud KVM Windows",
                          "st_category" : 3,
                          "st_module" : "vps"
                        }
                      },
                      "serviceCategories" : {
                        "1" : {
                          "category_id" : 1,
                          "category_name" : "OpenVZ Virtual Servers",
                          "category_tag" : "openvz",
                          "category_module" : "vps"
                        },
                        "2" : {
                          "category_id" : 2,
                          "category_name" : "KVM Virtual Servers",
                          "category_tag" : "kvm",
                          "category_module" : "vps"
                        },
                        "3" : {
                          "category_id" : 3,
                          "category_name" : "Xen Virtual Servers",
                          "category_tag" : "xen",
                          "category_module" : "vps"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description" : "The modules and services information from the server."
          }
        },
        "security" : [ { } ],
        "operationId" : "getInfo",
        "summary" : "Gets info about the modules and packages on the server.",
        "description" : "Retrieves information about the modules on the server, the service packages, thier categories and types."
      }
    },
    "/dns/{id}/{recordId}" : {
      "post" : {
        "tags" : [ "dns" ],
        "parameters" : [ {
          "name" : "recordId",
          "description" : "The domain record ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        }, {
          "name" : "id",
          "description" : "The domain ID number",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "updateDnsRecord",
        "summary" : "",
        "description" : ""
      },
      "delete" : {
        "tags" : [ "dns" ],
        "parameters" : [ {
          "name" : "recordId",
          "description" : "The domain record ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        }, {
          "name" : "id",
          "description" : "The domain ID number.",
          "schema" : {
            "type" : "integer"
          },
          "in" : "path",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        },
        "operationId" : "deleteDnsRecord",
        "summary" : "",
        "description" : ""
      }
    },
    "/account/countries" : {
      "get" : {
        "tags" : [ "account", "public" ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                },
                "examples" : {
                  "AccountCountriesExample" : {
                    "value" : {
                      "AF" : "Afghanistan",
                      "AX" : "Aland Islands",
                      "AL" : "Albania",
                      "DZ" : "Algeria",
                      "AS" : "American Samoa",
                      "AD" : "Andorra",
                      "AO" : "Angola",
                      "AI" : "Anguilla",
                      "AQ" : "Antarctica",
                      "AG" : "Antigua and Barbuda",
                      "AR" : "Argentina",
                      "AM" : "Armenia",
                      "AW" : "Aruba",
                      "AU" : "Australia",
                      "AT" : "Austria",
                      "AZ" : "Azerbaijan",
                      "BS" : "Bahamas",
                      "BH" : "Bahrain",
                      "BD" : "Bangladesh",
                      "BB" : "Barbados",
                      "BY" : "Belarus",
                      "BE" : "Belgium",
                      "BZ" : "Belize",
                      "BJ" : "Benin",
                      "BM" : "Bermuda",
                      "BT" : "Bhutan",
                      "BO" : "Bolivia",
                      "BQ" : "Bonaire, Sint Eustatius and Saba",
                      "BA" : "Bosnia and Herzegovina",
                      "BW" : "Botswana",
                      "BV" : "Bouvet Island",
                      "BR" : "Brazil",
                      "IO" : "British Indian Ocean Territory",
                      "BN" : "Brunei",
                      "BG" : "Bulgaria",
                      "BF" : "Burkina Faso",
                      "BI" : "Burundi",
                      "KH" : "Cambodia",
                      "CM" : "Cameroon",
                      "CA" : "Canada",
                      "CV" : "Cape Verde",
                      "KY" : "Cayman Islands",
                      "CF" : "Central African Republic",
                      "TD" : "Chad",
                      "CL" : "Chile",
                      "CN" : "China",
                      "CX" : "Christmas Island",
                      "CC" : "Cocos (Keeling) Islands",
                      "CO" : "Colombia",
                      "KM" : "Comoros",
                      "CG" : "Congo",
                      "CK" : "Cook Islands",
                      "CR" : "Costa Rica",
                      "CI" : "Cote d'ivoire (Ivory Coast)",
                      "HR" : "Croatia",
                      "CW" : "Curacao",
                      "CY" : "Cyprus",
                      "CZ" : "Czech Republic",
                      "CD" : "Democratic Republic of the Congo",
                      "DK" : "Denmark",
                      "DJ" : "Djibouti",
                      "DM" : "Dominica",
                      "DO" : "Dominican Republic",
                      "EC" : "Ecuador",
                      "EG" : "Egypt",
                      "SV" : "El Salvador",
                      "GQ" : "Equatorial Guinea",
                      "ER" : "Eritrea",
                      "EE" : "Estonia",
                      "ET" : "Ethiopia",
                      "FK" : "Falkland Islands (Malvinas)",
                      "FO" : "Faroe Islands",
                      "FJ" : "Fiji",
                      "FI" : "Finland",
                      "FR" : "France",
                      "GF" : "French Guiana",
                      "PF" : "French Polynesia",
                      "TF" : "French Southern Territories",
                      "GA" : "Gabon",
                      "GM" : "Gambia",
                      "GE" : "Georgia",
                      "DE" : "Germany",
                      "GH" : "Ghana",
                      "GI" : "Gibraltar",
                      "GR" : "Greece",
                      "GL" : "Greenland",
                      "GD" : "Grenada",
                      "GP" : "Guadaloupe",
                      "GU" : "Guam",
                      "GT" : "Guatemala",
                      "GG" : "Guernsey",
                      "GN" : "Guinea",
                      "GW" : "Guinea-Bissau",
                      "GY" : "Guyana",
                      "HT" : "Haiti",
                      "HM" : "Heard Island and McDonald Islands",
                      "HN" : "Honduras",
                      "HK" : "Hong Kong",
                      "HU" : "Hungary",
                      "IS" : "Iceland",
                      "IN" : "India",
                      "ID" : "Indonesia",
                      "IQ" : "Iraq",
                      "IE" : "Ireland",
                      "IM" : "Isle of Man",
                      "IL" : "Israel",
                      "IT" : "Italy",
                      "JM" : "Jamaica",
                      "JP" : "Japan",
                      "JE" : "Jersey",
                      "JO" : "Jordan",
                      "KZ" : "Kazakhstan",
                      "KE" : "Kenya",
                      "KI" : "Kiribati",
                      "XK" : "Kosovo",
                      "KW" : "Kuwait",
                      "KG" : "Kyrgyzstan",
                      "LA" : "Laos",
                      "LV" : "Latvia",
                      "LB" : "Lebanon",
                      "LS" : "Lesotho",
                      "LR" : "Liberia",
                      "LY" : "Libya",
                      "LI" : "Liechtenstein",
                      "LT" : "Lithuania",
                      "LU" : "Luxembourg",
                      "MO" : "Macao",
                      "MK" : "Macedonia",
                      "MG" : "Madagascar",
                      "MW" : "Malawi",
                      "MY" : "Malaysia",
                      "MV" : "Maldives",
                      "ML" : "Mali",
                      "MT" : "Malta",
                      "MH" : "Marshall Islands",
                      "MQ" : "Martinique",
                      "MR" : "Mauritania",
                      "MU" : "Mauritius",
                      "YT" : "Mayotte",
                      "MX" : "Mexico",
                      "FM" : "Micronesia",
                      "MD" : "Moldova",
                      "MC" : "Monaco",
                      "MN" : "Mongolia",
                      "ME" : "Montenegro",
                      "MS" : "Montserrat",
                      "MA" : "Morocco",
                      "MZ" : "Mozambique",
                      "MM" : "Myanmar (Burma)",
                      "NA" : "Namibia",
                      "NR" : "Nauru",
                      "NP" : "Nepal",
                      "NL" : "Netherlands",
                      "NC" : "New Caledonia",
                      "NZ" : "New Zealand",
                      "NI" : "Nicaragua",
                      "NE" : "Niger",
                      "NG" : "Nigeria",
                      "NU" : "Niue",
                      "NF" : "Norfolk Island",
                      "MP" : "Northern Mariana Islands",
                      "NO" : "Norway",
                      "OM" : "Oman",
                      "PK" : "Pakistan",
                      "PW" : "Palau",
                      "PS" : "Palestine",
                      "PA" : "Panama",
                      "PG" : "Papua New Guinea",
                      "PY" : "Paraguay",
                      "PE" : "Peru",
                      "PH" : "Philippines",
                      "PN" : "Pitcairn",
                      "PL" : "Poland",
                      "PT" : "Portugal",
                      "PR" : "Puerto Rico",
                      "QA" : "Qatar",
                      "RE" : "Reunion",
                      "RO" : "Romania",
                      "RU" : "Russia",
                      "RW" : "Rwanda",
                      "BL" : "Saint Barthelemy",
                      "SH" : "Saint Helena",
                      "KN" : "Saint Kitts and Nevis",
                      "LC" : "Saint Lucia",
                      "MF" : "Saint Martin",
                      "PM" : "Saint Pierre and Miquelon",
                      "VC" : "Saint Vincent and the Grenadines",
                      "WS" : "Samoa",
                      "SM" : "San Marino",
                      "ST" : "Sao Tome and Principe",
                      "SA" : "Saudi Arabia",
                      "SN" : "Senegal",
                      "RS" : "Serbia",
                      "SC" : "Seychelles",
                      "SL" : "Sierra Leone",
                      "SG" : "Singapore",
                      "SX" : "Sint Maarten",
                      "SK" : "Slovakia",
                      "SI" : "Slovenia",
                      "SB" : "Solomon Islands",
                      "SO" : "Somalia",
                      "ZA" : "South Africa",
                      "GS" : "South Georgia and the South Sandwich Islands",
                      "KR" : "South Korea",
                      "SS" : "South Sudan",
                      "ES" : "Spain",
                      "LK" : "Sri Lanka",
                      "SR" : "Suriname",
                      "SJ" : "Svalbard and Jan Mayen",
                      "SZ" : "Swaziland",
                      "SE" : "Sweden",
                      "CH" : "Switzerland",
                      "TW" : "Taiwan",
                      "TJ" : "Tajikistan",
                      "TZ" : "Tanzania",
                      "TH" : "Thailand",
                      "TL" : "Timor-Leste (East Timor)",
                      "TG" : "Togo",
                      "TK" : "Tokelau",
                      "TO" : "Tonga",
                      "TT" : "Trinidad and Tobago",
                      "TN" : "Tunisia",
                      "TR" : "Turkey",
                      "TM" : "Turkmenistan",
                      "TC" : "Turks and Caicos Islands",
                      "TV" : "Tuvalu",
                      "UG" : "Uganda",
                      "UA" : "Ukraine",
                      "AE" : "United Arab Emirates",
                      "GB" : "United Kingdom",
                      "US" : "United States",
                      "UM" : "United States Minor Outlying Islands",
                      "UY" : "Uruguay",
                      "UZ" : "Uzbekistan",
                      "VU" : "Vanuatu",
                      "VA" : "Vatican City",
                      "VE" : "Venezuela",
                      "VN" : "Vietnam",
                      "VG" : "Virgin Islands, British",
                      "VI" : "Virgin Islands, US",
                      "WF" : "Wallis and Futuna",
                      "EH" : "Western Sahara",
                      "YE" : "Yemen",
                      "ZM" : "Zambia",
                      "ZW" : "Zimbabwe"
                    }
                  }
                }
              }
            },
            "description" : "The list of countries with both 2 letter abbreviations and the country names."
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "security" : [ { } ],
        "operationId" : "getCountries",
        "summary" : "",
        "description" : ""
      }
    }
  },
  "components" : {
    "schemas" : {
      "GenericResponse" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "example" : "ok"
          },
          "text" : {
            "type" : "string",
            "example" : "The command completed successfully."
          }
        }
      },
      "Invoices" : {
        "description" : "Listing of invoices",
        "type" : "object",
        "properties" : {
          "id" : {
            "format" : "int64",
            "type" : "integer"
          }
        }
      },
      "Invoice" : {
        "description" : "An invoice record",
        "type" : "object",
        "properties" : {
          "id" : {
            "format" : "int64",
            "type" : "integer"
          }
        }
      },
      "Domain" : {
        "description" : "Domain Registration order and service information.",
        "type" : "object"
      },
      "SslCert" : {
        "description" : "SSL Certficate Service Details",
        "type" : "object"
      },
      "DnsDomain" : {
        "description" : "DNS Domain Information",
        "type" : "object"
      },
      "Vps" : {
        "description" : "VPS Server Information",
        "type" : "object"
      },
      "Website" : {
        "description" : "Website service information",
        "type" : "object"
      },
      "QuickServer" : {
        "description" : "Rapid Deploy Server (QuickServers) service information",
        "type" : "object"
      },
      "License" : {
        "description" : "Software License service information",
        "type" : "object"
      },
      "Server" : {
        "description" : "Dedicated Server service information",
        "type" : "object"
      },
      "FloatingIp" : {
        "description" : "Floating IPs service information",
        "type" : "object"
      },
      "Backup" : {
        "description" : "Storage Backup service information",
        "type" : "object"
      },
      "Mail" : {
        "description" : "Maill Delivery service information",
        "type" : "object"
      },
      "DnsListItem" : {
        "title" : "Root Type for DnsListItem",
        "description" : "",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "content" : {
            "type" : "string"
          }
        },
        "additionalProperties" : false,
        "example" : {
          "id" : "68",
          "name" : "hussfamily.com",
          "content" : "64.20.35.186"
        }
      },
      "DomainRow" : {
        "title" : "DomainRow",
        "description" : "A result row from the `Domains` `GET` request.",
        "type" : "object",
        "properties" : {
          "domain_id" : {
            "description" : "The ID number of the domain in our billing system.",
            "type" : "string",
            "example" : "59237"
          },
          "domain_hostname" : {
            "description" : "The hostname of the domain.",
            "type" : "string",
            "example" : "mydomain.com"
          },
          "domain_expire_date" : {
            "format" : "date-time",
            "description" : "The expiration date of the domain.",
            "type" : "string",
            "example" : "2023-08-14 00:59:38"
          },
          "cost" : {
            "description" : "The cost of the domain.",
            "type" : "string",
            "example" : "11.00"
          },
          "domain_status" : {
            "description" : "The billing / registration status of the domain.",
            "type" : "string",
            "example" : "active"
          }
        },
        "example" : {
          "domain_id" : "592337",
          "domain_hostname" : "mydomain.com",
          "domain_expire_date" : "2023-08-14 00:59:38",
          "cost" : "18.00",
          "domain_status" : "active"
        }
      },
      "VpsRow" : {
        "title" : "VpsRow",
        "description" : "A result row from the `Vps` `GET` request.",
        "required" : [ "vps_status", "vps_name", "vps_ip", "vps_id", "vps_hostname", "vps_comment", "services_name", "repeat_invoices_cost" ],
        "type" : "object",
        "properties" : {
          "vps_id" : {
            "description" : "The id of the vps.",
            "type" : "string",
            "example" : "100"
          },
          "vps_name" : {
            "description" : "The name of the vps.",
            "type" : "string",
            "example" : "Builder"
          },
          "repeat_invoices_cost" : {
            "description" : "The repeat invoices cost of the vps.",
            "type" : "string",
            "example" : "10.00"
          },
          "vps_hostname" : {
            "description" : "The hostname of the vps.",
            "type" : "string",
            "example" : "vps100"
          },
          "vps_ip" : {
            "description" : "The ip of the vps.",
            "type" : "string",
            "example" : "64.20.46.220"
          },
          "vps_status" : {
            "description" : "The status of the vps.",
            "type" : "string",
            "example" : "active"
          },
          "services_name" : {
            "description" : "The services name of the vps.",
            "type" : "string",
            "example" : "KVM Windows VPS Slice"
          },
          "vps_comment" : {
            "description" : "The comment of the vps.",
            "type" : "string",
            "example" : ""
          }
        },
        "example" : {
          "vps_id" : "100",
          "vps_name" : "Builder",
          "repeat_invoices_cost" : "10.00",
          "vps_hostname" : "vps100",
          "vps_ip" : "64.20.46.220",
          "vps_status" : "active",
          "services_name" : "KVM Windows VPS Slice",
          "vps_comment" : ""
        }
      },
      "BackupRow" : {
        "title" : "BackupRow",
        "description" : "A result row from the `Backups` `GET` request.",
        "type" : "object",
        "properties" : {
          "backup_id" : {
            "description" : "The id of the backup.",
            "type" : "string",
            "example" : "2414"
          },
          "backup_name" : {
            "description" : "The name of the backup.",
            "type" : "string",
            "example" : "storage-nj.interserver.net"
          },
          "backup_cost" : {
            "description" : "The cost of the backup.",
            "type" : "string",
            "example" : "5.99"
          },
          "backup_username" : {
            "description" : "The username of the backup.",
            "type" : "string",
            "example" : "detainin2414"
          },
          "backup_status" : {
            "description" : "The status of the backup.",
            "type" : "string",
            "example" : "pending-setup"
          },
          "services_name" : {
            "description" : "The services name of the backup.",
            "type" : "string",
            "example" : "Swift Storage"
          }
        },
        "example" : {
          "backup_id" : "2414",
          "backup_name" : "storage-nj.interserver.net",
          "backup_cost" : "5.99",
          "backup_username" : "detainin2414",
          "backup_status" : "pending-setup",
          "services_name" : "Swift Storage"
        }
      },
      "MailRow" : {
        "title" : "MailRow",
        "description" : "A result row from the `Mail` `GET` request.",
        "type" : "object",
        "properties" : {
          "mail_id" : {
            "description" : "The id of the mail.",
            "type" : "string",
            "example" : "5652"
          },
          "repeat_invoices_cost" : {
            "description" : "The repeat invoices cost of the mail.",
            "type" : "string",
            "example" : "5.99"
          },
          "mail_username" : {
            "description" : "The username of the mail.",
            "type" : "string",
            "example" : "mb5652"
          },
          "mail_status" : {
            "description" : "The status of the mail.",
            "type" : "string",
            "example" : "expired"
          },
          "services_name" : {
            "description" : "The services name of the mail.",
            "type" : "string",
            "example" : "MailBaby Mail"
          }
        },
        "example" : {
          "mail_id" : "5652",
          "repeat_invoices_cost" : "5.99",
          "mail_username" : "mb5652",
          "mail_status" : "expired",
          "services_name" : "MailBaby Mail"
        }
      },
      "LicenseRow" : {
        "title" : "LicenseRow",
        "description" : "A result row from the `Licenses` `GET` request.",
        "type" : "object",
        "properties" : {
          "license_id" : {
            "description" : "The id of the license.",
            "type" : "string",
            "example" : "386111"
          },
          "license_hostname" : {
            "description" : "The hostname of the license.",
            "type" : "string",
            "example" : ""
          },
          "license_ip" : {
            "description" : "The ip of the license.",
            "type" : "string",
            "example" : "66.45.228.100"
          },
          "services_name" : {
            "description" : "The services name of the license.",
            "type" : "string",
            "example" : "Imunify360 up to 30 users"
          },
          "cost" : {
            "description" : "The cost of the license.",
            "type" : "string",
            "example" : "25.00"
          },
          "license_status" : {
            "description" : "The status of the license.",
            "type" : "string",
            "example" : "canceled"
          },
          "invoices_paid" : {
            "description" : "The invoices paid of the license.",
            "type" : "string",
            "example" : "1"
          },
          "invoices_date" : {
            "format" : "date-time",
            "description" : "The invoices date of the license.",
            "type" : "string",
            "example" : "2019-08-28 14:27:22"
          }
        },
        "example" : {
          "license_id" : "386111",
          "license_hostname" : "",
          "license_ip" : "66.45.228.100",
          "services_name" : "Imunify360 up to 30 users",
          "cost" : "25.00",
          "license_status" : "canceled",
          "invoices_paid" : "1",
          "invoices_date" : "2019-08-28 14:27:22"
        }
      },
      "WebsiteRow" : {
        "title" : "WebsiteRow",
        "description" : "A result row from the `Webhosting` `GET` request.",
        "required" : [ "website_status", "website_id", "website_hostname", "website_comment", "services_name", "repeat_invoices_cost" ],
        "type" : "object",
        "properties" : {
          "website_id" : {
            "description" : "The id of the website.",
            "type" : "string",
            "example" : "376359"
          },
          "website_hostname" : {
            "description" : "The hostname of the website.",
            "type" : "string",
            "example" : "hussfamily.com"
          },
          "repeat_invoices_cost" : {
            "description" : "The repeat invoices cost of the website.",
            "type" : "string",
            "example" : "5.99"
          },
          "website_status" : {
            "description" : "The status of the website.",
            "type" : "string",
            "example" : "active"
          },
          "services_name" : {
            "description" : "The services name of the website.",
            "type" : "string",
            "example" : "Standard Web Hosting"
          },
          "website_comment" : {
            "description" : "The comment of the website.",
            "type" : "string",
            "example" : "website for manhattan project."
          }
        },
        "example" : {
          "website_id" : "376359",
          "website_hostname" : "hussfamily.com",
          "repeat_invoices_cost" : "5.99",
          "website_status" : "active",
          "services_name" : "Standard Web Hosting",
          "website_comment" : ""
        }
      },
      "QuickserverRow" : {
        "title" : "QuickserverRow",
        "description" : "A result row from the `Quickservers` `GET` request.",
        "required" : [ "qs_status", "qs_id", "qs_comment", "cost", "qs_hostname", "qs_name" ],
        "type" : "object",
        "properties" : {
          "qs_id" : {
            "description" : "The id of the qs.",
            "type" : "string",
            "example" : "19504"
          },
          "qs_name" : {
            "description" : "The name of the qs.",
            "type" : "string",
            "example" : "Quickserver199"
          },
          "cost" : {
            "description" : "The cost of the qs.",
            "type" : "string",
            "example" : "65.00"
          },
          "qs_hostname" : {
            "description" : "The hostname of the qs.",
            "type" : "string",
            "example" : "qs19504"
          },
          "qs_status" : {
            "description" : "The status of the qs.",
            "type" : "string",
            "example" : "canceled"
          },
          "qs_comment" : {
            "description" : "The comment of the qs.",
            "type" : "string",
            "example" : ""
          }
        },
        "example" : {
          "qs_id" : "19504",
          "qs_name" : "Quickserver199",
          "cost" : "65.00",
          "qs_hostname" : "qs19504",
          "qs_status" : "canceled",
          "qs_comment" : ""
        }
      },
      "ServerRow" : {
        "title" : "ServerRow",
        "description" : "A result row from the `Servers` `GET` request.",
        "required" : [ "server_status", "server_id", "server_hostname", "account_lid" ],
        "type" : "object",
        "properties" : {
          "server_id" : {
            "description" : "The id of the server.",
            "type" : "string",
            "example" : "8404"
          },
          "account_lid" : {
            "description" : "The account lid of the server.",
            "type" : "string",
            "example" : "detain@interserver.net"
          },
          "server_hostname" : {
            "description" : "The hostname of the server.",
            "type" : "string",
            "example" : "testsignup.is.net"
          },
          "server_status" : {
[...]
